# characteristic of dictionary
1.unorded
2.mutable

In [3]:
1[0] =2

TypeError: 'int' object does not support item assignment

## mutable

In [9]:
my_dict={'name':'anu','age':'20','city':'bengaluru'}

In [12]:
my_dict

{'name': 'anu', 'age': '20', 'city': 'bengaluru'}

In [14]:
my_dict['age']=30

In [17]:
my_dict

{'name': 'anu', 'age': 30, 'city': 'bengaluru'}

## unique keys

In [27]:
my_dict={'name': 'anu', 'age': 30, 'age':89,'age':55,'city': 'bengaluru'}

In [30]:
my_dict

{'name': 'anu', 'age': 55, 'city': 'bengaluru'}

## immutablem

In [35]:
my_dict = {(1,2):'point','name':'alice'}
print(my_dict)

{(1, 2): 'point', 'name': 'alice'}

In [37]:
my_dict

{(1, 2): 'point', 'name': 'alice'}

In [41]:
my_dict1 = {1:'hello'}

In [49]:
my_dict2 = {(1,2):'hello'}

In [52]:
my_dict

{1: 'hello'}


## accessing a value by key

## using get element

In [58]:
my_dict={'name': 'anu', 'age': 30, 'age':89,'age':55,'city': 'bengaluru'}

In [60]:
my_dict['age']

55

In [64]:
my_dict.get('age')

55

In [68]:
print(my_dict.get('name'))

anu

## ascessing all keys

In [75]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

## ascessing all values

In [78]:
my_dict.values()

dict_values(['anu', 55, 'bengaluru'])

## ascessing all key value pairs

In [83]:
my_dict.items()

dict_items([('name', 'anu'), ('age', 55), ('city', 'bengaluru')])

## iterating over key values

In [86]:
for i in my_dict:
    print(i)

name
age
city

In [88]:
for j in my_dict.values():
    print(j)

anu
55
bengaluru

In [92]:
my_dict.items()

dict_items([('name', 'anu'), ('age', 55), ('city', 'bengaluru')])

In [96]:

for i, j in my_dict.items():
    print(f"{i}: {j}")

name: anu
age: 55
city: bengaluru

In [100]:
nested_dict = {
    'person1':{
    'name':'anu',
    'age':'20'
},
'person2':{
    'name':'ria',
    'age':50,
}
}

In [102]:
nested_dict

{'person1': {'name': 'anu', 'age': '20'},
 'person2': {'name': 'ria', 'age': 50}}

In [106]:
1 = [[1,2,3],3,5]

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3357233428.py, line 1)

In [113]:
print(nested_dict['person1']['age'])

20

## modifying elements in nested dictionary

In [116]:
nested_dict['person1']['age']=33

In [120]:
nested_dict

{'person1': {'name': 'anu', 'age': 33}, 'person2': {'name': 'ria', 'age': 50}}

## adding new dict

In [141]:
nested_dict ['person3']:
    'name':'an',
    'age':'2'

SyntaxError: invalid syntax (3200725113.py, line 1)

In [143]:
nested_dict

{'person3': {'name': 'an', 'age': '2'}}

## using del statement

In [148]:
my_dict =  {
    'name':'anu',
    'age':'20'
}

In [150]:
del my_dict['age']

In [154]:
my_dict

{'name': 'anu'}

## using pop() method

In [157]:
a = my_dict.pop('name')

In [159]:
my_dict

{}

In [164]:
a

'anu'

## using popitem() method

In [167]:
my_dict={
    'name':'raj',
    'age':55
}

In [169]:
my_dict.popitem()

('age', 55)

In [173]:
my_dict.popitem()

('name', 'raj')

In [175]:
my_dict.popitem()

KeyError: 'popitem(): dictionary is empty'

In [177]:
my_dict

{}

In [179]:
my_dict = {
    'name':'anu',
    'age':20,
    'city':'bangalore'
}

In [181]:
20 in my_dict

False

# function

In [2]:
def add():
    a = 1
    b = 11
    c = a+b
    print(c)

In [4]:
add()

12

In [6]:
print(c)

NameError: name 'c' is not defined

In [8]:
1.append(20)

SyntaxError: invalid decimal literal (761346870.py, line 1)

In [10]:
1 = [1,2,3,4,5,6,7,8,9]

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1490618189.py, line 1)

In [12]:
def greet ():
    print("hello")

In [14]:
def greet():
    name = input("enter the name")
    print(f"hello {name} welcome to ")

In [18]:
greet()

enter the name anu

hello anu welcome to

In [27]:
def sub():
    x=2
    y=3
    c=x-y
    print(c)
sub()

-1

In [33]:
def sub():
    name = input("enter ")
    print("{name} hello")

In [35]:
sub()

enter  3

{name} hello

In [37]:
def mul():
    x=2
    y=3
    c=x*y
    print(c)
mul()

6

In [39]:
def div():
    x=2
    y=3
    c=x/y
    print(c)
div()

0.6666666666666666

In [47]:
def mod():
    x=10
    y=6
    c=x%y
    print(c)
mod()

4

In [51]:
##simple mul table
def table():
    num = int(input('enter a number'))
    while num >=

SyntaxError: invalid syntax (3231649348.py, line 4)

## parameter

In [ ]:
cxaX