## Different Types of Arguments 
### 1 Default Arguments
in Python allow you to specify a default value for one or more parameters in a function. This means that if the function is called without providing a value for a parameter with a default, the function will use the default value.

* key charastristics
   * position in parameters
   * flexibility
   * evaluation

In [4]:
def func(age,name = "Alice"):
    print(f"my name is {name} and the age is {age}")

In [6]:
func(30)

my name is Alice and the age is 30

In [8]:
func(50,"Raj")

my name is Raj and the age is 50

In [10]:
def func9(a= 10,b= 20):
    print(a,b)

In [12]:
func9()

10 20

In [14]:
func9(80,90)

80 90

In [16]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

# Function calls
greet()              # Output: Hello, Guest!
greet("Alice")       # Output: Hello, Alice!

Hello, Guest!
Hello, Alice!

In [18]:
def func10(a,b=100):
    print(a,b)
func10(10,500)

10 500

In [20]:
def example(a = 20, b):
    print(a, b)

SyntaxError: parameter without a default follows parameter with a default (420017452.py, line 1)

In [22]:
def introduction(name, age=30):
    print(f"My name is {name} and I am {age} years old.")

introduction("John")

My name is John and I am 30 years old.

In [24]:
introduction("Alice", 25)

My name is Alice and I am 25 years old.

In [26]:
def calculate_area(width, length=1):
    return width * length

# Function calls
calculate_area(5)

5

In [28]:
calculate_area(5, 4)  # Output: 20

20

In [30]:
def func (a,b)

SyntaxError: expected ':' (1893963082.py, line 1)

In [32]:

def greet(name="Guest"):
    print(f"Hello, {name}! Welcome to Python!")

# Usage:
greet()  # Output: Hello, Guest! Welcome to Python!
greet("Alice")  # Output: Hello, Alice! Welcome to Python!

Hello, Guest! Welcome to Python!
Hello, Alice! Welcome to Python!


### 2. **Calculate the Area of a Rectangle**

In [35]:

def rectangle_area(length=1, breadth=1):
    return length * breadth

# Usage:
print(rectangle_area())  # Output: 1
print(rectangle_area(5))  # Output: 5
print(rectangle_area(5, 3))  # Output: 15

1
5
15


### 3. **Display a Multiplication Table**

In [38]:

def multiplication_table(number=2):
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")

# Usage:
multiplication_table()  # Prints the table for 2
multiplication_table(5)  # Prints the table for 5

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


### 4. **Simple Interest Calculator**

In [41]:

def calculate_simple_interest(principal, time, rate=5):
    return (principal * rate * time) / 100

# Usage:
print(calculate_simple_interest(1000, 2))  # Output: 100.0 (default rate of 5%)
print(calculate_simple_interest(1000, 2, 10))  # Output: 200.0 (rate provided as 10%)

100.0
200.0


### 5. **Convert Temperature**

In [44]:

def celsius_to_fahrenheit(celsius=0):
    return (celsius * 9/5) + 32

# Usage:
print(celsius_to_fahrenheit())  # Output: 32.0 (default 0°C)
print(celsius_to_fahrenheit(25))  # Output: 77.0

32.0
77.0

### 2 Positional arguments
are arguments passed to a function in the order in which they are defined in the function's signature. When calling a function, the values provided as arguments are assigned to the corresponding parameters based on their position in the function definition.

In [49]:
def func4(name,age):
    print(f" Hello my name is {name} my age is {age}")

In [51]:
func4("raj",30)

 Hello my name is raj my age is 30

In [53]:
func4(30,"TAJ")

 Hello my name is 30 my age is TAJ

In [55]:
def greet(name, age):
    print(f"Hello, my name is {name} and I am {age} years old.")

# Function call using positional arguments
greet("Alice", 25)  # Output: Hello, my name is Alice and I am 25 years old.

Hello, my name is Alice and I am 25 years old.

In [57]:
def addition(a,b,c,d):
    e =a+b+c+d
    print(e)

In [59]:
addition(10,20,30,40)

100

In [61]:
def subt(a,b,c,d):
    e =a -b -c-d
    print(e)

In [63]:
subt(10,20,30,40)

-80

In [65]:

def add(a, b, c):
    return a + b + c

# Function call using positional arguments
result = add(2, 3, 4)  # Output: 9

In [67]:
result

9

In [69]:
def calculate_area(length, width):
    return length * width

# Correct positional arguments
area = calculate_area(10, 5)   # Output: 50

In [71]:
area

50

In [73]:
def func5(a,b,c):
    print(a)
func5(10,20,30)

10

In [75]:
def func(a, b):
    print(a, b)

func(1, 2)  # Valid

1 2

In [77]:
def display_info(name, age):
    print(f"Name: {name}, Age: {age}")

# Combining positional and keyword arguments
display_info("Alice", age=25)  # Output: Name: Alice, Age: 25

Name: Alice, Age: 25

In [79]:
def func(a,b,c):
    print(a,b,c)

In [81]:
func(a = 10,b= 20,c =30)

10 20 30

In [83]:
func(b = 10,a= 20,c =30)

20 10 30

### 3 Keyword arguments
also known as named arguments, allow you to pass arguments to a function by explicitly associating each value with a parameter by name, rather than relying on their position. This makes the function call more readable and allows flexibility in the order of arguments.

In [87]:
def func(a= 10):
    print(a)
func(a= 36)

36

In [89]:
def func6(name,age,gender):
    print(f"hello my name is {name} my age is {age} my gender is {gender}")

In [91]:
func6(name = "raj",age = 30,gender = "male")

hello my name is raj my age is 30 my gender is male

In [93]:
func6("raj",30,"male")

hello my name is raj my age is 30 my gender is male

In [95]:
func6(gender = "female",name = "pooja",age = 25)

hello my name is pooja my age is 25 my gender is female

In [97]:
def func7(a,b,c,d):
    print(a,b,c,d)

In [99]:
func7(10,20,d=90,c= 80)

10 20 80 90

In [101]:
def greet(name, message):
    print(f"{message}, {name}!")

# Function call with keyword arguments
greet(name="Alice", message="Hello")  # Output: Hello, Alice!

Hello, Alice!

In [103]:
def display_info(name, age, city):
    print(f"Name: {name}, Age: {age}, City: {city}")

# Keyword arguments in any order
display_info(age=25, city="New York", name="Alice")
# Output: Name: Alice, Age: 25, City: New York

Name: Alice, Age: 25, City: New York

In [105]:
def display_info(name, age, city):
    print(f"Name: {name}, Age: {age}, City: {city}")

# Correct: Positional followed by keyword arguments
display_info("Alice", age=25, city="New York")  # Output: Name: Alice, Age: 25, City: New York

# Incorrect: Keyword argument followed by positional argument
# display_info(age=25, "Alice", city="New York")  # Raises SyntaxError

Name: Alice, Age: 25, City: New York

In [107]:
def greet(name, message="Hello"):
    print(f"{message}, {name}!")

# Function call with and without default argument
greet("Alice")            # Output: Hello, Alice!

Hello, Alice!

In [109]:
greet("Bob", message="Hi")  # Output: Hi, Bob!

Hi, Bob!

In [111]:
def book_flight(departure, destination, seat_class="Economy", meal_pref="Standard"):
    print(f"Booking a flight from {departure} to {destination} in {seat_class} class with a {meal_pref} meal.")

# Default keyword arguments can be used
book_flight(departure="New York", destination="London")

Booking a flight from New York to London in Economy class with a Standard meal.

In [113]:
# Override default keyword arguments
book_flight(departure="Paris", destination="Tokyo", seat_class="Business", meal_pref="Vegetarian")
#

Booking a flight from Paris to Tokyo in Business class with a Vegetarian meal.

In [115]:
## 1. **Greet a User**

def greet_user(first_name, last_name):
    print(f"Hello, {first_name} {last_name}!")

# Usage:
greet_user(first_name="John", last_name="Doe")

Hello, John Doe!

In [117]:
### 2. **Calculate the Area of a Triangle**
def triangle_area(base, height):
    return 0.5 * base * height

# Usage:
print(triangle_area(base=10, height=5))

25.0

## 3. **Print User Details**
W


def user_details(name, age, city):
    print(f"Name: {name}, Age: {age}, City: {city}")

# Usage:
user_details(name="Alice", age=25, city="New York")


### 4. **Calculate the Final Price**

In [125]:

def final_price(price, discount):
    return price - (price * discount / 100)

# Usage:
print(final_price(price=100, discount=10))

90.0


### 5. **Simple Interest Calculator**

In [132]:

def simple_interest(principal, rate, time):
    return (principal * rate * time) / 100

# Usage:
print(simple_interest(principal=1000, rate=5, time=2))

100.0