### 1. **`*args`: Arbitrary Positional Arguments**

The `*args` syntax is used to pass a variable number of positional arguments to a function. When `*args` is used, the function can accept any number of positional arguments, and they are captured as a tuple.

In [3]:
def func20(*num):
    z = num[0]+num[1]+num[2]
    print(z)

In [5]:
func20(10,20,30,40)

60

In [7]:
func20("hello ","world ","my ",40)

hello world my

In [9]:
a = (10,20,30,40)

In [11]:
a[0]+a[1]

30

In [13]:
def func10(*num):
    z = num[0]+num[1]
    print(z)
func10(10,20,30,40,50,60,70)

30

In [15]:
func10(20,30)

50

In [17]:

def add(*num):
	z = num[0]+num[1]+num[2]         #the argument can be accessed using the index number
    
	print("Addition:", z)
	
add(5, 2, 4)

Addition: 11

In [19]:
def add_numbers(*a):
    total = sum(a)
    print(type(a))
    print(a[0])
    print(a[1])
    print(a[2])

In [21]:
add_numbers(1, 2, 3)

<class 'tuple'>
1
2
3

In [23]:
print(add_numbers(10, 20, 30, 40))

<class 'tuple'>
10
20
30
None

### 1. **Sum of Numbers**

In [26]:

def sum_numbers(*args):
    return sum(args)

# Usage:
print(sum_numbers(1, 2, 3))  # Output: 6
print(sum_numbers(10, 20, 30, 40))

6
100


### 2. **Find the Maximum Value**

In [31]:

def find_max(*args):
    return max(args)

# Usage:
print(find_max(3, 7, 1, 9, 2))

9


### 3. **Concatenate Strings**

In [34]:
def concatenate_strings(*args):
    return " ".join(args)

# Usage:
concatenate_strings("Hello", "world", "!")

'Hello world !'

### 4. **Product of Numbers**

In [37]:

def product_of_numbers(*args):
    product = 1
    for num in args:
        product *= num
    return product

In [39]:

print(product_of_numbers(1, 2, 3, 4))

24


### 5. **Count the Number of Arguments**

In [44]:

def count_arguments(*args):
    return len(args)

# Usage:
print(count_arguments(1, 2, 3))  # Output: 3
print(count_arguments("apple", "banana", "cherry", "date"))

3
4


### 1. **Sum of Numbers**

In [47]:

def sum_numbers(*args):
    return sum(args)

# Usage:
print(sum_numbers(1, 2, 3))  # Output: 6
print(sum_numbers(10, 20, 30, 40))

6
100


### 2. **Find the Maximum Value**

In [50]:

def find_max(*args):
    return max(args)

# Usage:
print(find_max(3, 7, 1, 9, 2))

9


### 3. **Concatenate Strings**

In [53]:

def concatenate_strings(*args):
    return " ".join(args)

# Usage:
print(concatenate_strings("Hello", "world", "!"))

Hello world !


### 4. **Product of Numbers**

In [56]:

def product_of_numbers(*args):
    product = 1
    for num in args:
        product *= num
    return product

# Usage:
print(product_of_numbers(1, 2, 3, 4))

24


### 5. **Count the Number of Arguments**

In [59]:

def count_arguments(*args):
    return len(args)

# Usage:
print(count_arguments(1, 2, 3))  # Output: 3
print(count_arguments("apple", "banana", "cherry", "date"))

3
4

In [61]:
def func(**a):
    print(type(a))
    for i,j in a.items():
        print(f"this is a key {i} this is a value {j}")

In [64]:
func(name = "Alice",age= 25)

<class 'dict'>
this is a key name this is a value Alice
this is a key age this is a value 25

In [66]:
func(a=30,b= "raj")

<class 'dict'>
this is a key a this is a value 30
this is a key b this is a value raj

In [68]:
def print_person_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Call the function with variable keyword arguments
print_person_info(name="Alice", age=25, city="New York")

name: Alice
age: 25
city: New York

In [70]:
def func11(**num):
    z = num["a"] +num["b"]+num["c"]
    print(z)
    
    
add(a = 10,b= 20,c = 30)

TypeError: add() got an unexpected keyword argument 'a'

In [72]:
def func10(*num):
    z = num[0]+num[1]
    print(z)
func10(10,20,30,40,50,60,70)

30

In [74]:

def add(**num):               
	z = num['a']+num['b']+num['c']      #you can give any name instead of a,b,c
	print("Addition:", z)
	
add(a=5, b=2, c=4)

Addition: 11

In [76]:
num = {"a":5,"b":2,"c":4}

In [78]:
num["a"]

5

In [80]:
def func12 (*args,**kwargs):
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)
func12(1,name = "hello")

Positional arguments: (1,)
Keyword arguments: {'name': 'hello'}

In [82]:
def display_info(*args, **kwargs):
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)

# Call the function with both positional and keyword arguments
display_info(1, 2, 3, name="Alice", age=25, city="New York")

Positional arguments: (1, 2, 3)
Keyword arguments: {'name': 'Alice', 'age': 25, 'city': 'New York'}

### 1. **Print User Details**

In [87]:

def user_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Usage:
user_details(name="Alice", age=25, city="New York")
# Output:

name: Alice
age: 25
city: New York

t
### 2. **Greet Multiple Users**

In [90]:

def greet_users(**kwargs):
    for name, greeting in kwargs.items():
        print(f"{greeting}, {name}!")

# Usage:
greet_users(Alice="Hello", Bob="Hi", Charlie="Greetings")

Hello, Alice!
Hi, Bob!
Greetings, Charlie!


### 3. **Build a Profile**

In [93]:

def build_profile(**kwargs):
    return kwargs

# Usage:
profile = build_profile(name="John", age=30, profession="Engineer")
print(profile)

{'name': 'John', 'age': 30, 'profession': 'Engineer'}


### 4. **Check for a Specific Key**

In [96]:

def check_key(key, **kwargs):
    return key in kwargs

# Usage:
print(check_key("age", name="Sarah", age=28))  # Output: True
print(check_key("city", name="Sarah", age=28))

True
False


### 5. **Calculate Total Price**

In [99]:

def calculate_total(**fruit):
    total = sum(fruit.values())
    return total

# Usage:
total_price = calculate_total(apples=3.5, bananas=2.0, oranges=4.0)
print(f"Total Price: {total_price}")

Total Price: 9.5

In [101]:
d = {"a":1,"b ":2}

In [103]:
d.values()

dict_values([1, 2])

In [105]:
sum(d.values())

3

In [107]:
a = [1,2,3,5]

In [109]:
len(a)

4

In [111]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [116]:
print()

In Python, variables inside functions are crucial for maintaining scope and controlling how data is used and passed around. Hereâ€™s a breakdown of how variables work in functions:

### Types of Variables in Functions:
1. **Local Variables**:
   - Variables that are declared inside a function and can only be accessed within that function.
   - They exist only while the function is being executed and are destroyed once the function ends.

In [119]:
def func13():
    abc = 10
    bca = 30
    cba = abc + bca
    print(cba)
func13()

40

In [121]:
abc

NameError: name 'abc' is not defined

In [123]:
def greet():
    message = "Hello"  # Local variable
    print(message)

greet()

Hello

2. **Global Variables**:

In [128]:
eja = 20
def func14():
    i = eja + 10
    print(i)
func14()

30

In [130]:
eja

20

In [132]:
greeting = "Hello"  # Global variable

def greet():
    print(greeting)  # Accessing the global variable inside the function

greet()

Hello

In [134]:
greeting

'Hello'

3. **Global Keyword**:
   - You can modify a global variable inside a function by using the `global` keyword.

In [139]:
counter = 0

def increament ():
    global counter
    counter +=1
increament()

In [141]:
counter

1