## Nested Function

A **nested function** is a function defined inside another function. The inner function can access variables and parameters of the outer function, creating an enclosed environment known as a "closure." Nested functions are useful for encapsulating functionality and creating more modular code.

In [6]:
def func12():
    print("first")
    def func13():
        print("hello")
    func13()
func12()

first
hello

In [8]:
def func12():
    print("first")
func12()

first

In [10]:
def outer():
    def inner():
        print("hello world")
    print("my name is raj")
    inner()
    
outer()

my name is raj
hello world

In [12]:
def disp(): 
    
	def show():                         #5
		print("Function 1")         #6
	print("Function 2")              #3
	show()                              #4
disp() 



#executio number  1
print("hello")

Function 2
Function 1
hello

In [14]:
def outer_function():
    # Outer function code
    outer_variable = "Outer"

    def inner_function():
        # Inner function code
        print("Inner function accessing:", outer_variable)

    # Calling the inner function inside the outer function
    inner_function()

# Calling the outer function
outer_function()

Inner function accessing: Outer

In [16]:
def disp():                   #2
    def show():                         #5
        print("Function 2")         #6
    print("Function 1")              #3
    show()                              #4   
    print("out of the function1")        #7
disp()                   #executio number  1
print("Out of the function2")

Function 1
Function 2
out of the function1
Out of the function2

In [18]:

def disp(st):                        #this is parameter
	def show():
		return "Show Function "
	result = show() + st 
	return result
print(disp("This is arguement"))

Show Function This is arguement

In [20]:
# Deleting a Function
def my_function():
    print("Hello, World!")

# Calling the function
my_function()

del my_function

Hello, World!

In [22]:
my_function()

NameError: name 'my_function' is not defined

In [24]:
def greet():
    print("Hello!")

# Calling the function
greet()

Hello!

In [26]:
del greet

In [28]:
greet()

NameError: name 'greet' is not defined

In [30]:
def func():
    "klfasdf"
func()

### Lambda Function in Python

A **lambda function** in Python is a small, anonymous function defined using the `lambda` keyword. It can take any number of arguments, but can only have one expression. The result of this expression is automatically returned without the need for a `return` statement. Lambda functions are useful for short, simple operations where defining a full function might be unnecessary.

In [35]:
def func1 (a):
    b = a+10
    return b

In [37]:
ab = func1(20)

In [39]:
ab

30

In [41]:
ba = lambda a,b,c : a+b+c

In [43]:
ba(20,30,40)

90

In [45]:
a = lambda c : c*10

In [47]:
a(2)

20

In [49]:
add_10 = lambda x: x + 10
print(add_10(5))

15

In [51]:
multiply = lambda a, b: a * b
print(multiply(3, 4))

12

In [53]:
numbers = [1, 2, 3, 4, 5]
doubled = list(map(lambda x: x * 2, numbers))
print(doubled)

[2, 4, 6, 8, 10]

In [55]:
numbers = [1, 2, 3, 4, 5]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)

[2, 4]

In [57]:
from functools import reduce

# Sum all numbers in the list
numbers = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, numbers)
print(total)

15

In [59]:
numbers = [1, 2, 3, 4, 5]
list(map(lambda a :a+2,numbers))

[3, 4, 5, 6, 7]

In [61]:
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x ** 2, numbers))
print(squares)

[1, 4, 9, 16, 25]

In [63]:
def square(x):
    return x ** 2

In [65]:
num = [1,2,3,4,5]

In [67]:
list(map(square,num))

[1, 4, 9, 16, 25]

In [69]:
num2 = (1,5,4,8)

In [71]:
tuple(map(square,num2))

(1, 25, 16, 64)

In [73]:
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]
squares = list(map(square, numbers))
print(squares)

[1, 4, 9, 16, 25]

In [75]:
# Adding corresponding elements of two lists
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
sum_result = list(map(lambda x, y: x + y, numbers1, numbers2))
print(sum_result)

[5, 7, 9]

In [77]:
numbers_tuple = (1, 2, 3, 4)
negatives = tuple(map(lambda x: -x, numbers_tuple))
print(negatives)

(-1, -2, -3, -4)

In [79]:
text = "hello"
uppercase_text = list(map(str.upper, text))
print(uppercase_text)

['H', 'E', 'L', 'L', 'O']

In [81]:
numbers = [1, 2, 3, 4, 5]
doubled_evens = list(map(lambda x: x * 2 if x % 2 == 0 else None, numbers))
print(doubled_evens)

[None, 4, None, 8, None]

In [83]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5]
sum_result = list(map(lambda x, y: x + y, numbers1, numbers2))
print(sum_result)  # Output: [5, 7]

[5, 7]

In [85]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
sum_result = map(lambda x, y: x + y, numbers1, numbers2)

# sum_result is a map object (iterator), and you can't directly see the result
print(sum_result)

<map object at 0x0000019113F5BB80>

In [87]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
sum_result = list(map(lambda x, y: x + y, numbers1, numbers2))

# Now, sum_result contains a list with the summed values
print(sum_result)

[5, 7, 9]

In [89]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
def even(n):
    return n%2 == 0

In [93]:
list(filter(even,numbers))

[2, 4, 6, 8, 10]

In [95]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Function to check if a number is even
def is_even(n):
    return n % 2 == 0

# Applying filter to keep only even numbers
even_numbers = filter(is_even, numbers)

In [97]:
list(even_numbers)

[2, 4, 6, 8, 10]

In [99]:
even_numbers_list = list(even_numbers)
print(even_numbers_list)

[]

In [101]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using lambda to filter odd numbers
odd_numbers = list(filter(lambda n: n % 2 != 0, numbers))

print(odd_numbers)

[1, 3, 5, 7, 9]

In [103]:
  numbers = [1, 2, 3, 4]
  result = map(lambda x: x * 2, numbers)
  print(list(result))

[2, 4, 6, 8]

In [107]:
  numbers = [1, 2, 3, 4]
  result = filter(lambda x: x % 2 == 0, numbers)
  print(list(result))

[2, 4]

In [109]:
squared_numbers = map(lambda x: x**2, numbers)
print(list(squared_numbers))  # Output: [1, 4, 9, 16, 25]

# Using filter to extract even numbers
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[1, 4, 9, 16]
[2, 4]

In [111]:
numbers = [1, 2, 3, 4]
result = map(lambda x: x % 2 == 0, numbers)
print(list(result))

[False, True, False, True]

In [113]:
from functools import reduce

In [115]:

numbers = [1, 2, 3, 4, 5]

In [117]:
def add(x, y):
    return x * y

In [119]:
reduce(add,numbers)

120

In [121]:

total_sum = reduce(add, numbers)

print(total_sum)

120

In [123]:
from functools import reduce

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Using lambda function to multiply elements
product = reduce(lambda x, y: x * y, numbers)

print(product)

120

In [125]:
from functools import reduce

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Reduce to sum all elements with an initializer of 10
total_sum = reduce(lambda x, y: x + y, numbers, 10)

print(total_sum)

25