In [2]:
"hello world"

'hello world'

In [4]:
print("hello world")

hello world

In [6]:
print("")

In [8]:
#case sensitive

a = 10

In [10]:
A = 50

In [12]:
a

10

In [14]:
A

50

In [16]:
# Python is a case sensitive language
print('Hello World')

Hello World

In [18]:
Print()      #case sensitive

NameError: name 'Print' is not defined

In [20]:
print()

In [22]:
print('raj')

raj

In [24]:
print(raj)   #its not string unless inverted comma

NameError: name 'raj' is not defined

In [27]:
print(7)

7

In [29]:
print(7.7)

7.7

In [31]:
print(True)

True

In [33]:
print('Hello',1,4.5,True)   #multiple Data type or multiple things at once
                            #observe in the op the spaces given its because of the by default

Hello 1 4.5 True

In [35]:
 #a new thing called arguements in the function will learn that as well
                                        #for now understand that it is a way separtate the values

In [37]:
print('hello')     #Learn how the python interpreter moves
print('world')

hello
world

In [39]:
print('hello', end=' ')
print('hi')

hello hi

In [41]:
print('hello',end='****')    #this will make the output in same line
print('world')

hello****world

In [43]:
print('hello',end='not')
print('world')
print("now the pointer is here in the second line")

hellonotworld
now the pointer is here in the second line

# example
"""what all data we see in the world
lets take an exapmle of mobile phone what all data we have
1)video  (gallery)
2)audio  (some other mp3 folder)
3)images (gallery since similar to video)
4)text   (Some Document)
5)pdf    (some document)

we have differnt space for differnt data"""

In [48]:
age = 25

In [50]:
type(age)

int

In [52]:
age = 25
temperature = -5

In [54]:
price = 19.99
pi = 3.14159

In [56]:
type(price)

float

In [58]:
type(11)

int

In [60]:
is_sunny = True
has_permission = False
type(is_sunny)

bool

In [62]:
name = 'Alice'
greeting = "Hello, World!"
type(name)

str

In [64]:
type(age)

int

In [66]:
z = 3 + 4j
type(z)

complex

In [68]:
lis = ["apple",5,20.3]
numbers = [1, 2, 3, 4, 5]
mixed = [1, "apple", 3.5, True]

In [70]:
type(lis)

list

In [72]:
point = (3, 4)
person = ("John", 30, "Engineer")
colors = ("red", "green", "blue")

In [74]:
type(point)

tuple

In [76]:
unique_numbers = {1, 2, 3, 4, 4, 5}
fruits = {"apple", "banana", "cherry"}

In [78]:
unique_numbers

{1, 2, 3, 4, 5}

In [80]:
type(fruits)

set

In [82]:
student = {"name": "Alice"  ,    "age": 23,    "major": "Computer Science"}
prices = {"apple": 1.2, "banana": 0.5, "cherry": 2.5}

In [84]:
student = {"Names":["Raj","Alice"],"Age":[20,22]}

In [86]:
student

{'Names': ['Raj', 'Alice'], 'Age': [20, 22]}

In [88]:

# type
type([1,2,4])

list

In [90]:
var = 123

In [92]:
abc  = 2.02

In [94]:
abf = "akljsh"

In [96]:
raj_salary = 350000

In [98]:
raj_salary

350000

In [100]:
raj_salary = "Raj"

In [102]:
raj_salary

'Raj'

In [104]:
a = 12345

In [106]:
type(a)

int

In [108]:
b = 20.25

In [110]:
type(b)

float

In [112]:
c = 'text data'

In [114]:
type(c)

str

# Data Sciecnce 

Extract information from the data 
data comes from business 
data in the shape 

review --- Text data Extract information from the text data
"   "

[  ]

tabular data 
images
video

In [117]:
e = [1,2,3,45,6]

In [119]:
type(e)

list

In [121]:
t = (1,2,5)

In [123]:
type(t)

tuple

In [125]:
raj = 20.25

In [127]:
dic = {"name":"Raj",}

In [129]:
dic

{'name': 'Raj'}

In [131]:
raj

20.25

age = 25
name = "Alice"
height = 5.7

In [135]:
this

NameError: name 'this' is not defined

In [137]:
This

NameError: name 'This' is not defined

This 
Is Raw NB Convert

In [139]:
1ab = 10

SyntaxError: invalid decimal literal (213241377.py, line 1)

In [141]:
483746='ap'

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4016595276.py, line 1)

In [143]:
_AB = 20

In [145]:
_AB

20

In [147]:
_ab = 30

In [149]:
_ab

30

In [153]:
1 = 336

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3583800072.py, line 1)

In [155]:
ab_1 = 23

In [157]:
a_1 = 222

In [159]:
_raj = 55

In [161]:
_raj

55

In [163]:
student_roll_number = 225

In [165]:
myVariable = 255

In [167]:
myVariable

255

In [169]:
Myvariable = 330

In [171]:
Myvariable

330

In [173]:
user_age = 30

In [175]:
roll_number = 112

In [177]:
for_4 = 44

In [179]:
for_4= 23

In [181]:
is = 225

SyntaxError: invalid syntax (2607967547.py, line 1)

In [183]:
for=10

SyntaxError: invalid syntax (4258171486.py, line 1)

In [185]:
saturday_sales = 15555

In [187]:
roll_number  =

SyntaxError: invalid syntax (917535140.py, line 1)

In [189]:
sales  =

SyntaxError: invalid syntax (3789636838.py, line 1)

In [191]:
profit=1000

In [193]:
list = 55

In [195]:
tuple = 66

In [197]:
list

55

In [199]:
average_score=25

In [201]:
age=25
name='Ram'
name

'Ram'

In [203]:
user_name='ram'
user_name2='sham'

# Example 1: Variable names must start with a letter or underscore
variable_name = 10  # valid

In [206]:
_variable_name=10
_variable_name

10

In [208]:
# Example 2: Variable names can contain letters, numbers, and underscores; case-sensitive
user_age = 30
User_Age = 25  # different from user_age

In [210]:
user_age

30

In [212]:
User_Age

25

# Example 3: Python keywords cannot be used as variable names
 #for = 10  # invalid, 'for' is a keyword

In [217]:
total_sales = 5000

In [219]:
list for in True False tuple

SyntaxError: invalid syntax (3421156698.py, line 1)

In [221]:
 list = [1, 2, 3]

In [223]:
average_score = 85

In [225]:
item_count = 42

In [227]:
# Example 8: Consistent naming style
user_name = "Alice"
user_age = 30
user_email = "alice@example.com"

In [229]:
a = 5
b = 2
c = 3
print(a,b,c)

5 2 3

In [231]:
a

5

In [233]:
b

2

In [235]:
a,b,c = 5,2,3
print(a,b,c)

5 2 3

In [237]:
a=b=c= 5
print(a,b,c)

5 5 5

In [239]:
a

5

In [241]:
 # this is a comment

In [243]:
# this is about the salary of an employee
salary = 50000

In [245]:
"""this is 
a multiline comment
and i am """

'this is \na multiline comment\nand i am '

In [247]:
"""
this is a multi
line  
comment 
"""

'\nthis is a multi\nline  \ncomment \n'

In [249]:
#print("hello \n world")

In [251]:
# i am printing hello
print("hello")

hello

In [253]:
"""   
asldkfjlskf
lskdfjslkdjf
;lkdfk


"""

'   \nasldkfjlskf\nlskdfjslkdjf\n;lkdfk\n\n\n'

In [259]:
var = 20

In [261]:
if = 0

SyntaxError: invalid syntax (2990096196.py, line 1)

In [263]:
def func ()

SyntaxError: expected ':' (2722054247.py, line 1)

In [265]:
my_salary = 5555

In [267]:
# Identifiers
# You can't start with a digit
name1 = 'raj'
print(name1)
# You can use special chars
_ = 'hel'
print(_)
# identiers can not be keyword

raj
hel

In [269]:
user_name = "abx@gmail"
password  = 123456

In [271]:
name=input()

 ram

In [273]:
type(name)

str

In [275]:
name=input('What is your name ')

What is your name  raj

In [277]:
name

'raj'

In [279]:
input("Enter the name ")

Enter the name  raj

'raj'

In [281]:
#I want to store the username and password 
input("enter the user name ")

enter the user name  abc@gmail.com

'abc@gmail.com'

In [283]:
user_name = input("enter the username ")

enter the username  abc@hotmail.com

In [285]:
user_name

'abc@hotmail.com'

In [289]:
user_password = input("enter your password ")

enter your password  123

In [291]:
user_password

'123'

In [293]:
input ("enter anything")

enter anything hello

'hello'

In [295]:
num1 = int(input("enter the first number "))

enter the first number  10

In [297]:
num1

10

In [299]:
type(num1)

int

In [301]:
num2 = int(input("enter the second number"))

enter the second number 20

In [303]:
type(num2)

int

In [305]:
num1 + num2

30

In [307]:
num1 = int(input('enter first number'))
num2 = int(input('enter second number'))

enter first number 20
enter second number 30

In [309]:
num1 = float(input('enter first number '))

enter first number  10

In [311]:
num1

10.0

In [313]:
num1 = int(input('enter first number '))

enter first number  10

In [315]:
num1

10

In [317]:
num2 = float(input('enter second number'))

enter second number 20

In [319]:
num1

10

In [321]:
num2

20.0

In [323]:
num1 + num2

30.0

In [327]:
num1 = int(input('enter first number'))
num2 = int(input('enter second number'))



sub = num1 - num2
add=num1+num2
mul=num1*num2
div=num1/num2

print('Difference is ',sub)
print('sum is ',add)
print('product is ', mul)
print('ratio is ',div)

enter first number 100
enter second number 10

Difference is  90
sum is  110
product is  1000
ratio is  10.0

In [329]:
num3 = input("enter a number ")

enter a number  110

In [331]:
type(num3)

str

In [333]:
num1 = (input('enter first number '))
num2 = (input('enter second number '))


#subtract two varaible
result = int(num1) + int(num2)
# print the result
print(result)
type(result)

enter first number  20
enter second number  30

50

int

In [335]:
type(num1)

str

In [337]:
int_value=10

In [339]:
type(int_value)

int

In [341]:
float_value=float(int_value)

In [343]:
type(float_value)

float

In [345]:
age_str = '25'

In [347]:
type(age_str)

str

In [349]:
age_int = int(age_str)

In [351]:
type(age_int)

int

In [353]:
type(age_str)

str

In [355]:
print(8+10.5)

18.5

In [357]:

print(8+5.8)

13.8

In [359]:
print(type(8),type(5.8))

<class 'int'> <class 'float'>

In [361]:
a = 10

In [363]:
# int to str
b = str(a)

In [365]:
type(b)

str

In [367]:
str(20)

'20'

In [369]:
b = 4+5j

In [371]:
type(b)

complex

In [373]:
print("hello world")

hello world

In [375]:
print("raj")

raj

In [377]:
age = 30

In [379]:
age = 33

In [381]:
a = True

In [383]:
a

True

In [385]:
5 + 3

8

In [387]:
a = 10

In [389]:
b = 20

In [391]:
a + b

30

In [393]:
50+20

70

In [395]:
result = 5 + 3  # result is 8

In [397]:
result

8

In [399]:
5+3

8

In [401]:
a = 3
b = 4

In [403]:
a+b

7

In [405]:
result1 = 10 - 4  # result is 6

In [407]:
a-b

-1

In [409]:
result1

6

In [411]:
result2 = 7 * 6  # result is 42

In [413]:
result2

42

In [415]:
result4 = 16 / 3  # result is 5.0

In [417]:
result4

5.333333333333333

In [419]:
16//3

5

In [421]:
result5 = 16 / 3  # result is 3

In [423]:
result5

5.333333333333333

In [425]:
result5 = 16 // 3

In [427]:
result5

5

In [429]:
12//2

6

In [431]:
5//2

2

In [433]:
21//3

7

In [435]:
result = 10 % 3  # result is 1

In [437]:
10/3

3.3333333333333335

In [439]:
result

1

In [441]:
16/2

8.0

In [443]:
16 % 2

0

In [445]:
result7 = 2 ** 5  # result is 8

In [447]:
2*2*2*2*2

32

In [449]:
result7

32

In [451]:
2 **2

4

In [453]:
2**3   # 2x2x2

8

In [455]:
5 + 3 * 2 - 8 / 4

9.0

In [457]:
# Example combining multiple arithmetic operations
result = 5 + 3 * 2 - 8 / 4  # result is 9.0
result
()  >   /  >  *  >  +  >  -

SyntaxError: invalid syntax (2877163852.py, line 4)

In [459]:
(85+90+78+92+88)/5

86.6

In [461]:
# Exam scores
scores = [85, 90, 78, 92, 88]

In [463]:
# Calculate total score
total_score = sum(scores)

In [465]:
total_score

433

In [467]:
433/5

86.6

In [469]:
len(scores)

5

In [471]:
# Calculate average score
average_score = total_score / len(scores)

In [473]:
average_score

86.6

In [475]:
# Initial budget
budget = 1200

# Expenses
groceries = 350
utilities = 150
transportation = 200

# Remaining budget calculation
remaining_budget = budget - (groceries + utilities + transportation)

print("Remaining budget:", remaining_budget)

Remaining budget: 500

In [477]:
# Original price
original_price = 75

# Discount percentage
discount_percentage = 20

# Calculate discount amount
discount_amount = original_price * (discount_percentage / 100)

# Calculate final price
final_price = original_price - discount_amount

print("Final price after discount:", final_price)

Final price after discount: 60.0

In [479]:
# Scenario: You buy a book for $23.75 and pay with a $50 bill. How much change will you receive?

# Cost of the book
book_cost = 23.75

# Amount paid
amount_paid = 50

# Calculate change
change = amount_paid - book_cost

print("Change received:", change)

Change received: 26.25

In [483]:
# Scenario: You have a rectangular garden that is 10 meters wide and 15 meters long. What is the area of the garden?

# Dimensions of the garden
width = 10
length = 15

# Calculate area
area = width * length

print("Area of the garden:", area)

Area of the garden: 150

In [485]:
# Scenario: Two friends, Alice and Bob, are 25 and 30 years old, respectively. What is the age difference between them?



# Ages of Alice and Bob
alice_age = 25
bob_age = 30

# Calculate age difference
age_difference = bob_age - alice_age

print("Age difference:", age_difference)

Age difference: 5

In [487]:
# Scenario: You bought an item for $120 and sold it for $180. What is the profit percent made from the sale?


# Cost price and selling price
cost_price = 120
selling_price = 180

# Calculate profit
profit = selling_price - cost_price

profit_per=profit*100/cost_price

print("Profit made from the sale:", profit_per)

Profit made from the sale: 50.0

In [489]:
# Scenario: You purchase 3 items costing $12.50, $15.75, and $9.00 each. What is the total cost of all items before tax?

# Costs of individual items
item1 = 12.50
item2 = 15.75
item3 = 9.00

# Calculate total cost
total_cost = item1 + item2 + item3

print("Total cost of all items:", total_cost)

Total cost of all items: 37.25

In [491]:
2 == 3

False

In [493]:
a = 20

In [495]:
a==10

False

In [497]:
b

4

In [499]:
a>b

True

In [501]:
a<b

False

In [503]:
a == b

False

In [505]:
a = 20

In [507]:
a == 20

True

In [509]:
a = 5
b = 5
result8 = (a == b)  # result is True because 5 is equal to 5

In [511]:
(a == b)

True

In [513]:
result8

True

In [515]:
3 != 3

False

In [517]:
a = 5
b = 3
result9 = (a != b)  # result is True because 5 is not equal to 3

In [519]:
result9

True

In [521]:
a = 7
b = 5
result9 = (a > b)  # result is True because 7 is greater than 5

In [523]:
result9

True

In [525]:
a = 3
b = 8
re = (a < b)  # result is True because 3 is less than 8

In [527]:
re

True

In [529]:
2>=2

True

In [531]:
2>=1

True

In [533]:
2<=2

True

In [535]:
2 >= 2

True

In [537]:
2>=1

True

In [539]:
a = 5
b = 5
re1 = (a >= b)  # result is True because 5 is equal to 5

In [541]:
re1

True

In [543]:
a>=b

True

In [545]:
3<=1

False

In [547]:
3<=3

True

In [549]:
3<=4

True

In [551]:
# Scenario 1: A student scored 75 out of 100 in an exam. 
# Check if the student has passed the exam (passing score is 60).
score = 75
has_passed = (score >= 60)  # result is True because 75 is greater than 60
print("Has the student passed?", has_passed)

Has the student passed? True

In [553]:
(score >= 60)

True

In [555]:
# Scenario 2: You have two items priced at $40 and $50. 
#Check if the first item is cheaper than the second item.
price_item1 = 40
price_item2 = 50
is_cheaper = (price_item1 < price_item2)  # result is True because 40 is less than 50
print("Is the first item cheaper?", is_cheaper)

Is the first item cheaper? True

In [557]:
# Scenario 3: A car's speed is recorded at 70 mph.
#Check if the car is speeding, considering the speed limit is 65 mph.

speed = 70
speed_limit = 65
is_speeding = (speed > speed_limit)  # result is True because 70 is greater than 65
print("Is the car speeding?", is_speeding)

Is the car speeding? True

In [559]:
age = 18
age >= 18

True

In [561]:
age = 18

# Check if someone is eligible to vote
if True:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Eligible to vote

In [563]:
score = 85

# Check if the score is passing
if score >= 60:
    print("Passing")
else:
    print("Failing")

Passing

In [565]:
temperature = 25

# Check if the temperature is below freezing
if temperature < 0:
    print("Freezing")
else:
    print("Not freezing")

Not freezing

In [567]:
And

1 X 1 = 1
1 X 0 = 0
0 x 1 = 0
0 x 0 = 0

SyntaxError: invalid syntax (610836758.py, line 3)

In [569]:
 3>1  and 2>1

True

In [571]:
abc@xyz.com
123456

NameError: name 'xyz' is not defined

In [573]:
abc@xyz.com  and 123456

NameError: name 'xyz' is not defined

In [575]:
or

SyntaxError: invalid syntax (3705770117.py, line 1)

In [577]:
True or True = True
True or False = True
False or True = True
False or False = False

SyntaxError: cannot assign to expression (1691698068.py, line 1)

In [579]:
abc@xy.com  or  123456

NameError: name 'xy' is not defined

In [581]:
1

1

In [583]:
 2>1

True

In [585]:
True 1
False 0

SyntaxError: invalid syntax (3189068321.py, line 1)

In [587]:
3>2 and 3<2
True and False

False

In [589]:
3>2 and    4>5
true and False

NameError: name 'true' is not defined

In [591]:
1*1 =1
1*0 = 0
0*1 = 0
0*0 = 0

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (149820101.py, line 1)

In [593]:
a = 5
b = 10

In [595]:
a>3 and b>20

False

In [597]:
a>=3 and b>8

True

In [599]:
result = (a > 3) and (b < 15)  # True because both conditions are true
print(result)  # Output: True

True

In [601]:
(a > 3) and (b < 2)

False

In [603]:
1 + 1 = 1
1+ 0 = 1
0+1 = 1
0+0 = 0

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (833819974.py, line 1)

In [605]:
a = 5
b = 10
result = (a > 2) or (b < 1)  # True because the second condition is true
print(result)  # Output: True

True

In [607]:
a = 5
result = not (a > 7)  # True because the condition (a > 7) is False, and `not` inverts it
print(result)  # Output: True

True

In [609]:
not(a>3)

False

In [611]:
a = 5

In [613]:
a>3

True

In [615]:
not(a>3)

False

In [617]:
# Check if a person is eligible to vote (must be 18 or older and a citizen)

In [619]:
age = 18
citizen = True

In [621]:
if age >= 18 and citizen:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Eligible to vote

In [623]:
temperature = 30
is_raining = False

# Check if you should carry an umbrella (either if it's cold or if it's raining)
if temperature < 20 or is_raining:
    print("Carry an umbrella")
else:
    print("No need for an umbrella")

No need for an umbrella

In [625]:
is_weekend = False

# Check if it's a weekday (i.e., not the weekend)
if not is_weekend:
    print("It's a weekday")
else:
    print("It's the weekend")

It's a weekday

In [627]:
age = 20
has_license = True
is_sober = True

# Check if a person can legally drive (must be 18 or older, have a license, and be sober)
if age >= 18 and has_license and is_sober:
    print("Can legally drive")
else:
    print("Cannot legally drive")

Can legally drive

In [629]:
12345 = binary 1 = 1000 , 2 = 1001

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2036167219.py, line 1)

In [631]:
1 = 1000

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1839328052.py, line 1)

In [633]:
and

SyntaxError: invalid syntax (1732651236.py, line 1)

In [635]:
a = 5  # Binary: 0101
b = 3  # Binary: 0011
result = a & b  # Binary: 0001, which is 1 in decimal
print(result)  # Output: 1

1

In [637]:
5 & 6

4

In [639]:
0101 & 0110

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2916622765.py, line 1)

In [641]:
0100 = 4

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (751077707.py, line 1)

In [643]:
0 & 0

0

In [645]:
8421

8421

In [647]:
a 
10001

10001

2. **OR (`|`) Operator:**
 a = 5  # Binary: 0101
     b = 3  # Binary: 0011

In [652]:
a = 5  # Binary: 0101
b = 3  # Binary: 0011
result = a | b  # Binary: 0111, which is 7 in decimal
print(result)  # Output: 7

7

4. **NOT (`~`) Operator:**
1` into `0` and `0` into `1`.
     a = 5  # Binary: 0101

In [655]:
a = 5  # Binary: 0101
result = ~a  # Binary: 1010, which is -6 in decimal (due to how negative numbers are represented in binary using two's complement)
print(result)  # Output: -6

-6

## Membership Operators

**Membership Operators:**

- **Definition:** Membership operators are used to test whether a value or variable exists within a sequence,or a variable such as a string, list, tuple, set, or dictionary. These operators allow you to check for the presence or absence of elements within a data structure.
- 1. **`in` Operator:**
   - **Function:** Checks if a specified value or variable is present in a sequence. If the value is found, the expression returns `True`; otherwise, it returns `False`.
   - `python
     my_list = [1, 2, 3, 4, 5]
     print(3 in my_list)

In [659]:
my_string = "Hello, world!"
print("world" in my_string)  # Output: True

True

In [661]:
my_list = [1, 2, 3, 4, 5]
3  in my_list

True

2. **`not in` Operator:**
   - **Function:** Checks if a specified value or variable is *not* present in a sequence. If the value is not found, the expression returns `True`; otherwise, it returns `False`
.my_list = [1, 2, 3, 4, 5]
     print(10 not in my_list)

In [664]:
my_list = [1, 2, 3, 4, 5]
print(10 not in my_list)

True

#### 1. **Using `in` with a List:**
   - **Scenario:** You want to check if a specific item is in a list.
   - **Example:**
     ```python
     fruits = ["apple", "banana", "cherry"]
     print("banana" in fruits)  # Output: True
     ```
   - **Explanation:** The `in` operator checks if the string `"banana"` is present in the `fruits` list. Since `"banana"` is an element in the list, the output is `True`.

In [667]:
fruits = ["apple", "banana", "cherry"]
print("banana" in fruits)  # Output: True

True

#### 2. **Using `not in` with a List:**
   - **Scenario:** You want to verify that an item is not in a list.
   - **Example:**
     ```python
     fruits = ["apple", "banana", "cherry"]
     print("grape" not in fruits)  # Output: True
     ```
   - **Explanation:** The `not in` operator checks if the string `"grape"` is absent from the `fruits` list. Since `"grape"` is not in the list, the output is `True`.

In [670]:
fruits = ["apple", "banana", "cherry"]
print("grape" not in fruits)  # Output: True

True

In [672]:
# India Team
Player= ['Rohit sharma', 'Virat', 'Dhoni', 'Siraj']

print('Siraj' in Player)

True

#### 3. **Using `in` with a String:**
   - **Scenario:** You want to check if a substring exists within a string.
   - **Example:**
     ```python
     message = "Welcome to Python programming!"
     print("Python" in message)  # Output: True
     ```
   - **Explanation:** The `in` operator checks if the substring `"Python"` is present in the `message` string. Since `"Python"` is a part of the string, the output is `True`.

In [677]:
message = "Welcome to Python programming!"
print("Python" in message)  # Output: True

True

#### 4. **Using `not in` with a String:**
   - **Scenario:** You want to verify that a substring is not present in a string.
   - **Example:**
     ```python
     message = "Welcome to Python programming!"
     print("Java" not in message)  # Output: True
     ```
   - **Explanation:** The `not in` operator checks if the substring `"Java"` is absent from the `message` string. Since `"Java"` is not a part of the string, the output is `True`.

#### 5. **Using `in` with a Dictionary:**
   - **Scenario:** You want to check if a specific key exists in a dictionary.
   - **Example:**
     ```python
     my_dict = {"name": "Alice", "age": 25, "city": "New York"}
     print("name" in my_dict)  # Output: True
     ```
   - **Explanation:** The `in` operator checks if the key `"name"` is present in the `my_dict` dictionary. Since `"name"` is a key in the dictionary, the output is `True`.

In [681]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print("name" in my_dict)  # Output: True

True

#### 6. **Using `not in` with a Dictionary:**
   - **Scenario:** You want to verify that a key is not present in a dictionary.
   - **Example:**
     ```python
     my_dict = {"name": "Alice", "age": 25, "city": "New York"}
     print("address" not in my_dict)  # Output: True
     ```
   - **Explanation:** The `not in` operator checks if the key `"address"` is absent from the `my_dict` dictionary. Since `"address"` is not a key in the dictionary, the output is `True`.

In [684]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print("Alice" in my_dict)

False


### Common Use Cases:

- **Searching Elements in Collections:** Membership operators are commonly used to check if an element exists within a collection (e.g., list, tuple, set).
- **Validating User Input:** These operators can be used to verify if a user's input matches an expected value or pattern within a string or list.
- **Checking Keys in Dictionaries:** Membership operators are helpful for determining if a dictionary contains a specific key before attempting to access the value associated with that key.
- **Filtering Data:** They can be used in filtering data by checking the presence or absence of specific elements in data collections.

### Notes:
- **Efficiency:** Membership checks in sets and dictionaries are generally faster than in lists or strings because of the underlying data structure used for storing elements.
- **Case Sensitivity:** When used with strings, the membership operators are case-sensitive. For example, `"A" in "apple"` will return `False` because the cases do not match.

Understanding membership operators is crucial for efficiently working with sequences and collections in Python, allowing you to perform checks and validations with minimal code.

In [687]:
 l = [1,2,3,4,5,6]

In [689]:
1

1

In [693]:
1 in 1

TypeError: argument of type 'int' is not iterable

In [695]:
1 in l

True

In [697]:
0 in l

False

In [699]:
0 not in l

True

# Introduction to Python Statements

The `if` statement in Python is a conditional statement that allows you to execute a block of code only if a specified condition is true. It is a fundamental building block in programming, enabling decision-making in your code.

### How the `if` Statement Works

- **Syntax:**
  ```python
  if condition:
      # Block of code to be executed if the condition is true
  ```

- **Explanation:**
  - The `if` statement starts with the keyword `if`, followed by a condition that evaluates to either `True` or `False`.
  - If the condition is `True`, the block of code indented underneath the `if` statement is executed.
  - If the condition is `False`, the block of code is skipped, and the program continues to the next statement.

### Components of the `if` Statement:

1. **Condition:**
   - The condition is an expression that evaluates to a boolean value (`True` or `False`).
   - Conditions typically involve comparison operators (`==`, `!=`, `>`, `<`, `>=`, `<=`) or logical operators (`and`, `or`, `not`).

2. **Code Block:**
   - The code block inside the `if` statement is indented to indicate that it belongs to the `if`.
   - The indented code will only execute if the condition is true.

In [703]:
a = [1,2,3]

In [705]:
1 in a

True

In [707]:
if 1 in a :
    print("i got it")
print("This will be printed")

i got it
This will be printed

In programming, conditions refer to statements or expressions that allow you to make decisions based on whether a certain condition is true or false. Conditions play a crucial role in controlling the flow of a program, determining which code blocks are executed and which are skipped.

Conditions are often implemented using conditional statements or control structures, the most common of which are:

1. **If Statement:** The basic if statement is used to execute a block of code only if a specified condition is true.

2. **If-Else Statement:** The if-else statement allows you to execute one block of code if a condition is true and a different block of code if the condition is false.

3. **If-Elif-Else Statement:** The if-elif-else statement is used when you have multiple conditions to check. The program evaluates each condition in sequence and executes the block associated with the first true condition.


### Example 1: Basic `if` Statement
```python
age = 18

if age >= 18:
    print("You are eligible to vote.")
```
- **Explanation:**
  - The condition `age >= 18` checks if the value of `age` is greater than or equal to 18.
  - Since `age` is 18, the condition is `True`, so the program prints "You are eligible to vote."

In [711]:
age = 18

In [713]:
age >= 18

True

In [715]:
age = 19

In [717]:
age <= 18

False

In [719]:
age = 19

if age >= 18:    
    print("You are eligible to vote.")  
    
    
    
    
    
    
print("this will be printed any how")

You are eligible to vote.
this will be printed any how

In [721]:
if age >= 18:
    print("this is it")

this is it

In [723]:
# If statement
if 5>2:                 #Indentation is the important part of the if statement
    print("Greater")    #body

Greater

In [725]:
if 3>2:
    print("yes number 3 is greater than 2")
    print("yes number 3 is greater than 2")
    print("yes number 3 is greater than 2")
    print("yes number 3 is greater than 2")

yes number 3 is greater than 2
yes number 3 is greater than 2
yes number 3 is greater than 2
yes number 3 is greater than 2

In [727]:
if 3<1:
    print("what is correct")
else:
    print("This is false")

This is false

In [729]:
# If statement
if 5<2:                     #nothing got printed
	print("Greater")

In [731]:
# If Statement in Single Line
if 5>2: print("Greater")

Greater

In [733]:
# If Statement with Rest of the Code
if 5>2:
    print("Greater")

print("this will be printed anyway")

Greater
this will be printed anyway

In [735]:
if 5<2:
	print("Greater")
print("this will be printed anyway")

this will be printed anyway

In [737]:
# If statement with Logical Operator
if 5>2 or 7<3:   True or False  ---->  True                                            #anyone has to be true
	print("If statement with Logical Operator")
	print("Statement 2")

SyntaxError: invalid syntax (2278659808.py, line 2)

In [739]:
# If statement with Logical Operator
if 5>2 and 7<3:                                               #both has to be true
	print("If statement with Logical Operator")
	print("Statement 2")

In [741]:
# If statement with Logical Operator
if 5>2 or 7>3:                                               #anyone has to be true
	print("If statement with Logical Operator")
	print("Statement 2")

If statement with Logical Operator
Statement 2

In [743]:
input("Enter your name ")

Enter your name  anu

'anu'

In [745]:
age = int(input("enter your age "))

enter your age  12

In [747]:
age

12

In [749]:
type(age)

int

In [751]:
age = int(input("enter your age "))
if age >= 18:
    print("anything")

enter your age  12

In [755]:
#If statement with user input
a = int(input("Enter a number "))
if a>2:
    print("greater",a)

Enter a number  7

greater 7

### Example 2: `if` Statement with an Else Clause
```python
temperature = 30

if temperature > 25:
    print("It's a hot day.")
else:
    print("It's a cool day.")
```
- **Explanation:**
  - The `else` clause provides an alternative block of code that runs if the `if` condition is `False`.
  - Since `temperature` is 30, which is greater than 25, the first block runs, printing "It's a hot day."

In [758]:
temperature = 30

if temperature < 25:
    
    print("It's a hot day.")
else:
    print("It's a cool day.")
print("This will be printed")

It's a cool day.
This will be printed

In [760]:
# If Else statement
if 5<2:
	print("Greater")
else:
    print("smaller")

smaller

In [762]:
#if Else                           this holds for any T\F conditions
if 5<4:                             #in any condition will get the output unlike
    print ("greater")                #if statement where if condition is false nothing gets printed

else:
    print("smaller")

smaller

In [764]:
# If Else statement
if 5<2:
	print("Greater")
else:
	print("Smaller")

Smaller

In [766]:
# If Else statement
if 5<2:
	print("Greater")
else:
	print("Smaller")
print("rest of the code")




               #in any condition this gets printed

Smaller
rest of the code

In [768]:
# Write a program to chech if a number is odd or even 

num = int(input("enter the number "))

enter the number  1

In [770]:
num%2 == 0

False

In [772]:
if num%2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Number is odd

In [774]:
if num%2 == 0:
    print("Number is even")

In [780]:
num = int(input("enter the number "))
if num%2 == 0:
    print("Number is even")

else :
    print("number is odd")

enter the number  7

number is odd

In [782]:
#Program to check whether a person is eligible to vote or not.
age = int (input("Enter your age ?"))
if age >=18:
    print("You are eligible to vote !!")
else:
    print("Sorry! you have to wait !!")

Enter your age ? 4

Sorry! you have to wait !!

# IF-ELIF

### Example 3: `if` Statement with `elif` (Else If) Clauses
```python
marks = 75

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
else:
    print("Grade: D")
```
- **Explanation:**
  - The `elif` clause allows you to check multiple conditions sequentially.
  - The first condition that is `True` will have its associated block of code executed, and the rest will be skipped.
  - Here, since `marks` is 75, the condition `marks >= 70` is `True`, so "Grade: C" is printed.

In [786]:
marks = 75

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: C

In [788]:
marks = 75

if marks >= 60:
    print("Grade: A")
if marks >= 80:
    print("Grade: B")
if marks >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: A
Grade: C

Here are examples for both multiple if statements and elif statements:

# Multiple if statements
Suppose we want to check if a student has passed in multiple subjects:


maths_marks = 80
science_marks = 70
english_marks = 90

if maths_marks >= 70:
    print("Passed in Maths")
if science_marks >= 70:
    print("Passed in Science")
if english_marks >= 70:
    print("Passed in English")


In this case, the student has passed in all three subjects, so all three messages will be printed.

# elif statements
Suppose we want to check the age of a person and print out their life stage:


age = 25

if age < 13:
    print("Child")
elif age < 20:
    print("Teenager")
elif age < 60:
    print("Adult")
else:
    print("Senior Citizen")


In this case, the person's age is 25, so the message "Adult" will be printed. The elif statements are evaluated in order, and once a condition is found to be true, the rest of the elif statements are skipped.

In [791]:
maths_marks = 80
science_marks = 70
english_marks = 90

if maths_marks >= 70:
    print("Passed in Maths")
if science_marks >= 70:
    print("Passed in Science")
if english_marks >= 70:
    print("Passed in English")

Passed in Maths
Passed in Science
Passed in English

In [793]:
maths_marks = 80
science_marks = 70
english_marks = 90

if maths_marks >= 70:
    print("Passed in Maths")
elif science_marks >= 70:
    print("Passed in Science")
elif english_marks >= 70:
    print("Passed in English")

Passed in Maths

In [795]:
age = 12

if age < 13:
    print("Child")
elif age < 20:
    print("Teenager")
elif age < 60:
    print("Adult")
else:
    print("Senior Citizen")

Child

In [797]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if num1 >= num2 and num1 >= num3:
    print("Largest number is:", num1)
if num2 >= num1 and num2 >= num3:
    print("Largest number is:", num2)
if num3 >= num1 and num3 >= num2:
    print("Largest number is:", num3)

Enter first number:  1
Enter second number:  2
Enter third number:  3

Largest number is: 3

In [799]:
#if any statement becomes true then it stops the execution and run that particular instance
# If elif Statement
day = "tuesday"
if day =="monday":           #this becomes false
    print("today is monday")
elif day == "tuesday":
    print ("today is tuesday")
elif day == "tuesday":
    print("today is wednesday")


print("this is out of the elif")

today is tuesday
this is out of the elif

In [801]:
#if any statement becomes true then it stops the execution and run that particular instance
# If elif Statement
day = "tuesday"
if day =="monday":                 #this becomes falls
    print("today is monday")
elif day == "tuesday":            #just look at this this became true hence it didnot check further
    print ("today is tuesday")
elif day == "tuesday":            #though this is true the pointer didnt come to this position
    print("today is tuesday 2")     #becuase the execution was stoppd

today is tuesday

In [803]:
 # If elif Statement
day = "tuesday"
if day =="monday":                           #false
    print("today is monday")
elif day == "tuesda":                        #false     #this becomes falls   Spelling mistake
    print ("today is tuesday")
elif day == "wednesday":
    print("today is wednesday")

print("this is out of the elif")             #false    #nothing was printed since there is no else statement

this is out of the elif

In [805]:
 # If elif Statement
day = "tuesday"
if day =="monday":
    print("today is monday")
elif day == "tuesday":                       #spelling mistake
    print ("today is tuesday")
elif day == "wednesday":
    print("today is wednesday")



else:
    print("today is holiday")

today is tuesday

# Nested If

### Example 4: Nested `if` Statements
```python
number = 15

if number > 0:
    print("The number is positive.")
    if number % 2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print("The number is negative or zero.")
```
- **Explanation:**
  - You can nest `if` statements inside other `if` statements to check for additional conditions.
  - In this example, the outer `if` checks if `number` is positive. If true, it then checks if the number is even or odd.

In [811]:
number = 2

In [813]:
if number > 0 :
    print("The number is positive")
    if number % 2 ==0 :
        print("The number is even")
    else:
        print("The number is odd")
else:
    print("The number is negative")





print("This will be printed anyhow")

The number is positive
The number is even
This will be printed anyhow

In [815]:
if number < 0:
    print("The number is positive.")
    if number % 2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print("The number is negative or zero.")

The number is negative or zero.

In [817]:


if number > 0:
    print("The number is positive.")
    if number % 2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print("The number is negative or zero.")

The number is positive.
The number is even.

In [819]:


if number > 0:
    print("The number is positive.")
    if number % 2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print("The number is negative or zero.")

The number is positive.
The number is even.

In [821]:
# Nested If Statement
if 5>2:                               #true
    print("Greater")                  #wherever the condition becomes falls the execution of it stops
    print("5 is greater than 2")
    if(6>2):
        print("6 is Greater than 2")
        print("hello")

Greater
5 is greater than 2
6 is Greater than 2
hello

In [823]:
#Nested IF
if 5>2:                                   #true
    print("greater")
    if 6>5:                              #true
        print("biger")
        if 7>6:                          #true
            print("highest")
print("rest of the code")

greater
biger
highest
rest of the code

In [825]:
#Nested IF
if 5>2:                           #true
    print("greater")
    if 6<5:                       #false      UNDERSTAND THE MODE OF EXECUTION
        print("biger")
        if 7>6:                  # #true
            print("highest")



print("rest of the code")

greater
rest of the code

In [827]:
#Nested IF
if 5>2:                                #true
    print("greater")
    if 6>5:                            #true
        print("biger")
        if 7<6:                        #Faslse
            print("highest")

greater
biger

In [829]:
#Nested IF
if 5<2:                          #false
    print("greater")
    if 6>5:                      #true
        print("biger")
        if 7>6:                  #true
            print("highest")
print("rest of the code")

rest of the code

In [831]:
#Nested IF
if 5>2:                        #true
    print("greater")
    if 6>5:                    #true
        print("biger")
    if 7>6:                    #true
        print("highest")
print("rest of the code")

greater
biger
highest
rest of the code

In [833]:
#Nested IF
if 5>2:                         #true
    print("greater")
    if 6<5:                     #false
        print("biger")


if 7>6:
    print("highest")                   #this is not in the nesting rather it is a new if

greater
highest

In [835]:
temperature = 15  # Example temperature

if temperature < 0:
    print("It's freezing!")
elif temperature < 10:
    print("It's cold!")
elif temperature < 25:
    print("It's warm!")
else:
    print("It's hot!")

It's warm!

In [837]:
temperature = int(input("enter the temparature"))

if temperature < 0:
    print("It's freezing!")
elif temperature < 10:
    print("It's cold!")
elif temperature < 25:
    print("It's warm!")
else:
    print("It's hot!")

enter the temparature 67

It's hot!

In [839]:
score = 85  # Example score

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: B

In [841]:
age = 16  # Example age

if age < 5:
    print("Ticket Price: Free")
elif age < 13:
    print("Ticket Price: $10")
elif age < 18:
    print("Ticket Price: $20")
else:
    print("Ticket Price: $25")

Ticket Price: $20

In [843]:
password = "pass123"  # Example password

if len(password) < 6:
    print("Weak Password")
elif len(password) <= 8:
    print("Moderate Password")
else:
    print("Strong Password")

Moderate Password

In [845]:
age = 20  # Example age
vision_test_passed = True  # Example test result

if age >= 18 and vision_test_passed:
    print("You are eligible to apply for a driver's license.")
else:
    print("You are not eligible to apply for a driver's license.")

You are eligible to apply for a driver's license.